<h1>Active jobs</h1>
<%= link_to "<span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Add a job".html_safe, {controller: "jobs", action: "new"}, method: "get", class: "btn btn-primary" %>
<br><br>
<% @job.order("created_at desc").each do |j| %>
<div class="well well-lg">
<h3><a href=#><%= j.title %></a></h3>
<p>Created at: <%= j.created_at.strftime("%d/%m/%Y") %></p>
<p>Ref: <%= j.id %></p>
<%= link_to "Edit job advert", edit_job_path(j.id), class: "btn btn-default" %>
</div>
<% end %>