<h1>Create your job</h1>
<div class="col-md-4">
<%= form_for @job do |f| %>
<div class="form-group">
<%= f.label :title %>
<%= f.text_field :title, class: 'form-control' %>
</div>
<div class="form-group">
<%= f.label :jobDescription, "Job description" %>
<%= f.text_area :jobDescription, class: 'form-control' %>
</div>
<div class="form-group">
<%= f.label :personalSpec, "Personal specification" %>
<%= f.text_area :personalSpec, class: 'form-control' %>
</div>
<%= f.submit class: "btn btn-primary"  %>
<% end %>
</div>