<h1><small>Step 3 of 3</small><br>Preview job</h1>
<div class="jumbotron">
<%= link_to "Submit for approval", status_path(@job), method: :put, class: "btn btn-primary btn-lg" %>
&nbsp;&nbsp;<%= link_to "Return later", jobs_path %> &nbsp;&nbsp;<%= link_to "Return to step 2", new_job_location_path(@job) %>
</div>

<% content_for :content do %>
<div id="page-container">

	<div class="phase-banner">
	  <p>
	    <strong class="phase-tag">ALPHA</strong>
	    <span>This is a new service – your <a href="mailto:support.csjobs@csresourcing.gsi.gov.uk">feedback</a> will help us to improve it.</span>
	  </p>
	</div>

	<div class="grid-row">

		<div class="column-two-thirds">
			<h1><%= @job.title %></h1>

			<div class="details">
				<p>Salary: <%= number_to_currency(@job.salaryMin, precision: 0, unit: "£") %> - <%= number_to_currency(@job.salaryMax, precision: 0, unit: "£") %></p>
				<p>Contract: <%= @job.contract.contract %></p>
				<p>Working pattern: <%= @job.work_pattern.working_pattern %></p>
				<p>Grade: <%= @job.grade.grade %></p>
				<% if @job.grade_equivalent? %>
				<p>Grade equivalent: <%= @job.grade_equivalent %></p>
				<% end %>
			</div>

			<h2>Job description</h2>
			<p><%= @job.jobDescription %></p>
			<h2>Personal specification</h2>
			<p><%= @job.personalSpec %></p>
			<h2>Selection process</h2>
			<p><%= @job.selectDetails %></p>
		</div>

	</div>

</div>
<% end %>
<br>
<%= render file: 'layouts/govuk_template' %>