<div class="col-md-9">
<h1>Create your account</h1>
<%= render 'shared/error_messages' %>
</div>
<div class="col-md-4">
	<%= form_for @user do |f| %>
<div class="form-group">
<%= f.label :firstname %>
<%= f.text_field :firstname, class: "form-control" %>
</div>
<div class="form-group">
<%= f.label :lastname %>
<%= f.text_field :lastname, class: "form-control"  %>
</div>
<div class="form-group">
<%= f.label :email, "Work email" %>
<%= f.text_field :email, class: "form-control"  %>
</div>
<div class="form-group">
<%= f.label :department_id %>
<%= f.select :department_id, Department.all.collect { |d| [ d.name, d.id ] }, {include_blank: true}, class: "form-control" %>
</div>
<div class="form-group">
<%= f.label :email_confirmation, "Confirm work email" %>
<%= f.text_field :email_confirmation, class: "form-control"  %>
</div>
<div class="form-group">
<%= f.label :password, "Password" %>
<%= f.text_field :password, class: "form-control", type: "password" %>
</div>
<div class="form-group">
<%= f.label :password_confirmation, "Confirm password" %>
<%= f.text_field :password_confirmation, class: "form-control", type: "password" %>
</div>
<%= f.submit class: "btn btn-primary"  %>
<% end %>
</div>