<%= render 'shared/job_error' %>
<div class="col-md-6">
<%= form_for @job do |f| %>
<div class="form-group">
<%= f.label :title %>
<%= f.text_field :title, class: 'form-control' %>
</div>
<div class="form-group">
<%= f.label :salaryMin, "Minimum salary" %>
<div class="input-group">
<span class="input-group-addon">£</span>
<%= f.number_field :salaryMin, class: 'form-control' %>
</div>
</div>
<div class="form-group">
<%= f.label :salaryMax, "Maximum salary" %>
<div class="input-group">
<span class="input-group-addon">£</span>
<%= f.number_field :salaryMax, class: 'form-control' %>
</div>
</div>
<div class="form-group">
<%= f.label :grade_id, "Grade"%>
<%= f.select :grade_id, Grade.all.collect { |g| [ g.grade, g.id ] }, {include_blank: true}, class: "form-control" %>
</div>
<div class="form-group">
<%= f.label :grade_equivalent, "Equivalent grade" %>
<%= f.text_field :grade_equivalent, class: 'form-control' %>
</div>
<div class="form-group">
<%= f.label :jobDescription, "Job description" %>
<%= f.text_area :jobDescription, rows: "9", class: 'form-control' %>
</div>
<div class="form-group">
<%= f.label :personalSpec, "Personal specification" %>
<%= f.text_area :personalSpec, rows: "9", class: 'form-control' %>
</div>
<div class="form-group">
<%= f.label :selectDetails, "Selection process" %>
<%= f.text_area :selectDetails, rows: "6", class: 'form-control' %>
</div>
<div class="form-group">
<%= f.label :contract_id, "Contract type" %>
<%= f.select :contract_id, Contract.all.collect { |d| [ d.contract, d.id ] }, {include_blank: true}, class: "form-control"  %>
</div>
<div class="form-group">
<%= f.label :work_pattern_id, "Working pattern" %>
<%= f.select :work_pattern_id, WorkPattern.all.collect { |d| [ d.working_pattern, d.id ] }, {include_blank: true}, class: "form-control"  %>
</div>
<div class="form-group">
<%= f.submit "Save and continue", class: "btn btn-primary" %>&nbsp;&nbsp;&nbsp;<%= link_to "Preview advert", job_path(@job)%>
</div>
<% end %>
</div>